
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

*, *:before, *:after{
  box-sizing: inherit;
}

img{
  max-width: 100%;
}
/*always have this*/



/*navbar*/
.container_1{
    display: flex;
    justify-content: space-evenly;
    /*add space on top of nav bar inside the container*/
    align-items: center;
    padding: 20px;
    background-color: pink;
}
nav {
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #CD303D;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

nav a:hover {
    background-color: #CD303D;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transform: scale(1.04);
}

.navbar_logo{
    width: 10%;
    height: 10%;
}

/*ipad*/
@media(max-width:770px){
    .navbar_logo{
        width: 20%;
        height: 20%;
    }
    nav a:hover {
        background-color: #CD303D;
        color: white;
        font-weight: 400;
        border-radius: 10px;
    }
    nav a {
        font-size: 20px;
        padding: 6px 8px;
    }
    
}

/*iphone x --- iphone 4*/
@media(max-width:380px){
    .container_1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        background-color: pink;
    }
    .navbar_logo{
        width: 25%;
        height: 25%;
    }
    nav a:hover {
        background-color: #CD303D;
        color: white;
        font-weight: 400;
        border-radius: 10px;
        
    }
    nav a {
        font-size: 10px;
        padding: 6px 8px;
    }
    
    
}
/*pixel 7*/
@media(max-width:415px){
    .container_1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        background-color: pink;
    }
    .navbar_logo{
        width: 40%;
        height: 40%;
    }
    nav a:hover {
        background-color: #CD303D;
        color: white;
        font-weight: 400;
        border-radius: 10px;
    }
    nav a {
        font-size: 15px;
        padding: 6px 8px;
    }
    
    
}
/*banner/title of page*/

.banner {
    position: relative; /* To ensure that the content stays on top of the image */
    background-color: grey;
    color: #193271;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.077) 80%), url("images/banner_imgs/banner_4.png");
    padding: 50px 0px 100px 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*properties for the title text*/
  .banner h1 {
    font-weight: 800;
    font-size: 50px;
    padding-left: 100px;
  }
  
/*ipad*/
@media(max-width:770px){
    .banner {
        padding: 40px;
    }
    .banner h1 {
        font-weight: 600;
        font-size: 30px;
        padding: 10px 50px;
    }
    
}
/*iphone x---iphone 4*/
@media(max-width:380px){
    .banner {
        padding: 25px 10px;
    }
    .banner h1 {
        font-weight: 600;
        font-size: 10px;
        padding: 10px;
    }
}


/*pixel 7*/
@media(max-width:415px){
    .banner {
        padding: 30px 10px;
    }
    .banner h1 {
        font-weight: 600;
        font-size: 10px;
        padding: 10px;
    }
}




/*first intro part --- the "why choose us" part*/

.int_con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.intro {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value (0.7) for transparency */
    color: white; /* Set text color to be visible on the dark background */
    border-radius: 5px;
    float: center;
    font-size: 20px;
    width: 40em;
    padding: 10px;
  
}
  
/*ipad*/
@media(max-width:770px){
    .intro{
        font-size: 10px;
        width: 40em;
        
    }
}
/*iphone x*/
@media(max-width:380px){
    .intro{
        
        font-size: 6px;
        width: 40em;
    }
}

/*iphone 4*/
@media(max-width:320px){
    .intro{
        
        font-size: 6px;
        width: 10em;
    }
}


/*pixel 7*/
@media(max-width:415px){
    .intro{
        font-size: 6px;
        width: 37em;
    }
}



/*first intro part --- the "why choose us" red part*/
.intro_2 ul{
    background-color: #CD303D;
    color: white;
    display: flex;
     /* Center vertically */
    justify-content: space-evenly; /* Center horizontally */
    
  }
  
.intro_2 ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 60px 20px;
    font-size: 20px;
    font-weight: 600;
    
}
.intro_2 .img_con{
    height: 6em;
    width: 7em;
    
}

/*ipad*/
@media(max-width:770px){
    .intro_2 .img_con{
        height: 50px;
        width: 60px;
        
    }
    .intro_2 ul li{
        margin: 10px 20px 20px 20px;
        font-size: 15px;
        
        
    }
    
}
/*iphone x*/
@media(max-width:380px){
    .intro_2 .img_con{
        height: 30px;
        width: 40px;
        
    }
    .intro_2 ul li{
        margin: 10px 20px 20px 20px;
        font-size: 10px;
        
    }
    
}


/*iphone 4*/
@media(max-width:320px){
    .intro{
        top: 38em; 
        left: 27em;
        padding: 5px 1em;
        font-size: 6px;
        width: 35em;
    }
}


/*pixel 7*/
@media(max-width:415px){
    .intro{
        top: 39em; 
        left: 34em;
        padding: 5px 1em;
        font-size: 6px;
        width: 37em;
    }
}


.h2_titles {
    text-align: center;
    position: relative;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
    
  }


/*iphone x*/
@media(max-width:380px){
    .h2_titles h2{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .h2_titles {
        margin-top: 10px;
        margin-bottom: 20px;
}
}


/*iphone 4*/
@media(max-width:320px){
    .h2_titles h2{
        font-size: 15px;
        
      }
    .h2_titles {
    margin-top: 10px;
    margin-bottom: 20px;
}
}


/*pixel 7*/
@media(max-width:415px){
    .h2_titles h2{
        font-size: 15px;
        
      }
    .h2_titles {
    margin-top: 10px;
    margin-bottom: 20px;
}
}



/*our services thingy*/
.Serv_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
  }
  
  .Serv_1{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    
  }
  .Serv_1 .serv_img {
    width: 100%;
    height: 400px; /* Set the desired height for the image */
    background: url("images/sqr_img.png") no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    
    
  }
  
  
  .Serv_2{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  .Serv_2 .serv_img {
    width: 100%;
    height: 400px; /* Set the desired height for the image */
    background: url("images/sqr_img.png") no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    
  }
  
  .Serv_3{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    margin: 30px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  .Serv_3 .serv_img {
    width: 100%;
    height: 400px; /* Set the desired height for the image */
    background: url("images/sqr_img.png") no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
  }
  
  
  /* prop inside the box thing under the image*/
  .Serv_1, .Serv_1 header, .Serv_2, .Serv_2 header, .Serv_3, .Serv_3 header{
    margin: 15px 20px 0px 20px;
  }
  
  /* prop inside the box thing under the image*/
  .Serv_1 p, .Serv_2 p, .Serv_3 p{
    margin: 5px 20px 0px 20px;
  }
  
  /* prop inside the box thing under the image*/
  .Serv_1 footer,.Serv_2 footer,.Serv_3 footer{
    margin: 25px 20px;
  }
  
  /* prop inside the box thing under the image*/
  .Serv_1 footer a,.Serv_2 footer a,.Serv_3 footer a{
    padding: 10px;
    border-radius: 10px;
    background-color: #CD303D;
    color: #fff;
    text-decoration: none;
  }




  /*ipad*/
@media(max-width:770px){
    .Serv_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
      }

      
      
    
}
/*iphone x*/
@media(max-width:380px){
    .Serv_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
      }
    
    .Serv_1 .serv_img, .Serv_2 .serv_img, .Serv_3 .serv_img {
    width: 100%;
    height: 250px; /* Set the desired height for the image */
    background: url("images/sqr_img.png") no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    
    }

   
}


/*iphone 4*/
@media(max-width:320px){
    .Serv_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
      }
    
    .Serv_1 .serv_img, .Serv_2 .serv_img, .Serv_3 .serv_img {
    width: 100%;
    height: 150px; /* Set the desired height for the image */
    background: url("images/sqr_img.png") no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    
    }
}


/*pixel 7*/
@media(max-width:415px){
    .Serv_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
      }
    
    .Serv_1 .serv_img, .Serv_2 .serv_img, .Serv_3 .serv_img {
    width: 100%;
    height: 250px; /* Set the desired height for the image */
    background: url("images/sqr_img.png") no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    
    }
}


/*OSA*/

.container_4{
    display: flex;
    background-color: #193271;
    
  
  }
  
  .OSA_1{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
  }

  /*iphone x*/
@media(max-width:380px){
    .OSA_1{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-size: 15px;
      }
    .container_4 .OSA_container .OSA_1 .OSA_img img{
        width: 8em;
        height: 8em;
    }
    

   
}


/*iphone 4*/
@media(max-width:320px){
    .OSA_1{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-size: 15px;
      }
    .container_4 .OSA_container .OSA_1 .OSA_img img{
        width: 8em;
        height: 8em;
    }
}


/*pixel 7*/
@media(max-width:415px){
    .OSA_1{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-size: 15px;
      }
    .container_4 .OSA_container .OSA_1 .OSA_img img{
        width: 8em;
        height: 8em;
    }
}




/*form*/
.input{
        display: flex;
        flex-direction: column;
    }
.input-field {
    border: 2px solid #CD303D;
    border-radius: 14px;
    outline: none;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    
    
  }
  
  .text-area-field {
    border: 2px solid #CD303D;
    border-radius: 14px;
    outline: none;
    font-size: 15px;
    margin: 20px;
    padding: 10px; 
  }
  
  .button {
    text-decoration: none;
    border-radius:20px;
    color: #4d4f55;
    margin: 15px;
    padding: 10px;
    background-color: #fff;
    font-size: 15px;
    border: #CD303D solid 2px;
    transition: transform 0.3s ease-in-out;
    
  }
  
  .button:hover {
    transform: scale(1.04);
    color: #fff;
    background-color: #CD303D;
    border: none;
  }


.social-media{
    display: flex;
    justify-content: center;
    
}

.social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}
.social-media ul li i{
    margin: 20px;
    color: #CD303D;
    padding: 20px;
    border-radius: 50px;
    background-color: #fff;
}
.contact-footer h4{
    margin: 20px;
    color: white;
}
.contact-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: #2d2e33;

}

.social-media ul li i:hover{
    margin: 20px;
    color: #fff;
    background-color: #CD303D;
}




